<!DOCTYPE html>
<html>
<head>
  <title>Main Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu" aria-labelledby="categoryDropdown">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addCategoryModal">Add</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Category List -->
  <div class="container mt-4">
    <h1>Categories</h1>
    <ul id="categoryList" class="list-group">
      <% categories.forEach(category => { %>
        <li class="list-group-item">
          <%= category.name %>
          <a href="#" class="btn btn-primary btn-sm float-right ml-2" data-toggle="modal" data-target="#addProductModal" data-id="<%= category._id %>">Add Product</a>
          <a href="#" class="btn btn-info btn-sm float-right ml-2" data-toggle="modal" data-target="#editCategoryModal" data-id="<%= category._id %>" data-name="<%= category.name %>">Edit</a>
          <form action="/delete/<%= category._id %>" method="POST" class="float-right">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </li>
      <% }); %>
    </ul>
  </div>

  <!-- Add Category Modal -->
  <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="addCategoryForm" action="/add" method="POST">
            <div class="form-group">
              <label for="categoryName">Category Name</label>
              <input type="text" class="form-control" id="categoryName" name="name" required>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Category Modal -->
  <div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editCategoryModalLabel">Edit Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editCategoryForm" action="/edit" method="POST">
            <input type="hidden" id="editCategoryId" name="id">
            <div class="form-group">
              <label for="editCategoryName">Category Name</label>
              <input type="text" class="form-control" id="editCategoryName" name="name" required>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Product Modal -->
  <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="addProductForm" action="/products/add" method="POST" enctype="multipart/form-data">
            <input type="hidden" id="productCategoryId" name="categoryId">
            <div class="form-group">
              <label for="productName">Item Name</label>
              <input type="text" class="form-control" id="productName" name="name" required>
            </div>
            <div class="form-group">
              <label for="productImage">Image</label>
              <input type="file" class="form-control" id="productImage" name="image" accept="image/*" capture="camera">
            </div>
            <div class="form-group">
              <label for="productDescription">Description</label>
              <textarea class="form-control" id="productDescription" name="description" rows="3" required></textarea>
            </div>
            <div class="form-group">
              <label for="productPrice">Price</label>
              <input type="number" class="form-control" id="productPrice" name="price" step="0.01" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Product</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    $('#editCategoryModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var id = button.data('id');
      var name = button.data('name');

      var modal = $(this);
      modal.find('#editCategoryId').val(id);
      modal.find('#editCategoryName').val(name);
    });

    $('#addProductModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var categoryId = button.data('id');
      
      var modal = $(this);
      modal.find('#productCategoryId').val(categoryId);
    });
  </script>
</body>
</html>
